<app-admin-nav></app-admin-nav>
<h1>manage bookings</h1>

<div class="m-1">
    <button class="btn btn-outline-primary btn-block" (click)="setCurrentUser(null)">
        All Categories
    </button>
    <button *ngFor="let user of users" 
            class="btn btn-outline-primary btn-block" 
            [class.active]="currentUser == user"
        (click)="setCurrentUser(user)">
        {{user}}
    </button>
  </div>

<table class="table table-sm table-striped">
<table *ngIf="tableMode; else create" class="table table-sm table-striped">
  <tr>
      <th>ID</th>
      <th>User</th>
      <th>Seat</th>
      <th>Show</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
  </tr>
  <tr *ngFor="let bk of bookings">
      <ng-template [ngIf]="booking?.id != bk.id" [ngIfElse]="edit">
          <td>{{bk.id}}</td>
          <td>{{bk.user}}</td>
          <td>{{bk.seat}}</td>
          <td>{{bk.show.movie.title}}</td>
          <td>{{bk.show.date | date}}</td>
          <td>{{bk.show.timeslot.time}}</td>

          <td>
              <button class="btn btn-sm btn-primary" 
                      (click)="selectBooking(bk.id)">Edit</button>
              <button class="btn btn-sm btn-danger" 
                      (click)="deleteBooking(bk.id)">Delete</button>
          </td>
      </ng-template>
  </tr>
  <tfoot>
      <tr>
          <td colspan="6" class="text-center">
              <button class="btn btn-primary" 
                      (click)="clearBooking(); tableMode = false">Create</button>
          </td>
      </tr>
  </tfoot>
</table>



<ng-template #edit>
  <td colspan="6">
      <admin-edit-bookings></admin-edit-bookings>
      <div class="text-center">
          <button class="btn btn-sm btn-primary" (click)="saveBooking()">
              Save
          </button>
          <button class="btn btn-sm btn-info" (click)="clearBooking()">
              Cancel
          </button>
      </div>
  </td>
</ng-template>

<ng-template #create>
  <admin-edit-bookings></admin-edit-bookings>
  <button class="btn btn-primary" (click)="saveBooking()">
      Save
  </button>
  <button class="btn btn-info" (click)="clearBooking()">
      Cancel
  </button>
</ng-template>