<app-admin-nav></app-admin-nav>
<h1>manage timeslots</h1>
<table *ngIf="tableMode; else create" class="table table-sm table-striped">
  <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Duration</th>
      <th></th>
  </tr>
  <tr *ngFor="let t of timeSlots">
      <ng-template [ngIf]="timeSlot?.id != t.id" [ngIfElse]="edit">
          <td>{{t.id}}</td>
          <td>{{t.time}}</td>
          <td>{{t.duration}}</td>
          <td>
              <button class="btn btn-sm btn-primary" 
                      (click)="selectTimeSlot(t.id)">Edit</button>
              <button class="btn btn-sm btn-danger" 
                      (click)="deleteTimeSlot(t.id)">Delete</button>
          </td>
      </ng-template>
  </tr>
  <tfoot>
      <tr>
          <td colspan="6" class="text-center">
              <button class="btn btn-primary" 
                      (click)="clearTimeSlot(); tableMode = false">Create</button>
          </td>
      </tr>
  </tfoot>
</table>

<ng-template #edit>
  <td colspan="6">
      <admin-edit-timeslots></admin-edit-timeslots>
      <div class="text-center">
          <button class="btn btn-sm btn-primary" (click)="saveTimeSlot()">
              Save
          </button>
          <button class="btn btn-sm btn-info" (click)="clearTimeSlot()">
              Cancel
          </button>
      </div>
  </td>
</ng-template>

<ng-template #create>
  <admin-edit-timeslots></admin-edit-timeslots>
  <button class="btn btn-primary" (click)="saveTimeSlot()">
      Save
  </button>
  <button class="btn btn-info" (click)="clearTimeSlot()">
      Cancel
  </button>
</ng-template>

