<!-- <div class="form-group">
    <label>User</label>
    <select class="form-control" [(ngModel)]="booking.user" [compareWith]="compareStrings">
      <option *ngFor="let u of users" [ngValue]="u">{{u}}</option>
    </select>
  </div> -->
<div class="form-group">
    <label>Show</label>
    <select class="form-control" [(ngModel)]="booking.show" [compareWith]="compareShows">
      <option *ngFor="let s of shows" [ngValue]="s">{{s.movie.title}}</option>
    </select>
  </div>
  <div class="form-group">
      <label>seats</label>
      <input class="form-control" [(ngModel)]="booking.seat" />
    </div>
