
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{currentMovie || 'All Movies'}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="setCurrentMovie(null)"> All Movies</a>
    <a *ngFor="let movie of movies" class="dropdown-item" (click)="setCurrentMovie(movie)"> {{movie}}</a>
  </div>
</div>

<br>


<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{currentMonth || 'All Months'}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a *ngFor="let month of months" class="dropdown-item" (click)="setCurrentMonth(month); setCurrentDay(null)"> {{month}}</a>
  </div>
</div>

<br>


<ul class="nav nav-pills">
    <li *ngFor="let day of dates" class="nav-item">
      <a class="nav-link" [class.active]="currentDate == day" (click)="setDayFilter(day)">{{day | date}}</a> <!-- [class.active]="currentDate == day" -->
    </li>
  </ul>
<br>
  <!-- <div *ngIf="currentDay != null; else noDay"> -->
      <table class="table table-sm table-striped">
          <tr>
            <th>ID</th>
            <th>Movie</th>
            <th>Timeslot</th>
            <th>Date</th>
            <th>Cinema</th>
            <th>Bookings</th>
            <th></th>
          </tr>
          <tr *ngFor="let sh of shows">
              <!-- <ng-template [ngIf]="!bookingtable" [ngIfElse]="create"> -->

                <td>Show {{sh.id}}</td>
                <td>{{sh.movie?.title || '...loading...'}}</td>
                <td>{{sh.timeslot.time}}</td>
                <td>{{sh.date | date}}</td>
                <td>{{sh.cinema.id}}</td>
                <td>{{sh.bookings?.length || '(None)'}}</td>
                <button class="btn btn-sm btn-primary" 
                (click)="clearBooking(); setShowForBooking(sh); bookingtable = true">Book Now</button>
              <!-- </ng-template> -->
            
          </tr>
          
        </table>
  <!-- </div> -->
<!-- <ng-template #noDay>

    <h1>CHOOSE A DATE!!!</h1>
    
</ng-template> -->


<div *ngIf="bookingtable">
  <td colspan="6">
    <div class="form-group">
        <label>Show</label>
        <select class="form-control" [(ngModel)]="booking.show" [compareWith]="compareShows">
            <option *ngFor="let s of shows" [ngValue]="s">{{s.movie.title}} on {{s.date |  date}} @ {{s.timeslot.time}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>seats</label>
        <input class="form-control" [(ngModel)]="booking.seat" />
    </div>
    <div class="text-center">
        <button class="btn btn-sm btn-primary" (click)="saveBooking()" [routerLink]='["/list_bookings"]'>
            Save
        </button>
        <button class="btn btn-sm btn-info" (click)="clearBooking()">
            Cancel
        </button>
    </div>
</td>
</div>
  <!-- <ng-template #create>

    <div class="form-group">
      <label>Show</label>
      <select class="form-control" [(ngModel)]="booking.show" [compareWith]="compareShows">
        <option *ngFor="let s of shows" [ngValue]="s">{{s.movie.title}}</option>
      </select>
    </div>
    <div class="form-group">
        <label>seats</label>
        <input class="form-control" [(ngModel)]="booking.seat" />
      </div>

      <button class="btn btn-primary" (click)="saveBooking()">
          Save
      </button>
      <button class="btn btn-info" (click)="clearBooking()">
          Cancel
      </button>
    </ng-template> -->