<app-admin-nav></app-admin-nav>

<!-- <table class="table table-sm table-striped">
    <table *ngIf="tableMode; else edit" class="table table-sm table-striped">
        <tr>
            <th>ID</th>
            <th>Movie</th>
            <th>Timeslot</th>
            <th>Date</th>
            <th>Cinema</th>
            <th>Bookings</th>
            <th></th>
        </tr>
        <tr *ngFor="let sh of shows">
            <ng-template [ngIf]="show?.id != sh.id" [ngIfElse]="edit">
                <td>{{sh.timeslot.time}} : {{sh.movie?.title || "(None)"}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="selectShow(sh.id); setDate(sh.date)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteShow(sh.id)">Delete</button>
                </td>
            </ng-template>
        </tr>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <button class="btn btn-primary" (click)="clearShow();setDate(); tableMode = false">Create</button>
                    <button class="btn btn-primary" (click)="tableMode = false;createShowsForMonth();tableMode = true">Create For Month</button>
                </td>
            </tr>
        </tfoot>
    </table>



    <ng-template #edit>
        <td colspan="6">
            <admin-edit-shows></admin-edit-shows>
            <div class="text-center">
                <button class="btn btn-sm btn-primary" (click)="saveShow()">
                    Save
                </button>
                <button class="btn btn-sm btn-info" (click)="clearShow()">
                    Cancel
                </button>
            </div>
        </td>
    </ng-template> -->

    <!-- <div class="card-columns">
    <div *ngFor="let date of dates" class="card" style="width: 18rem;">
        <div class="card-header">
          {{date | date}}
        </div>
        <div *ngFor="let cinema of cinemas" class="card-body">
            <h5 class="card-title">Cinema {{ cinema }}</h5>
            <p *ngFor="let time of timeslots" class="card-text">{{time}} : {{shows[0].movie.title}} </p>
          </div>
      </div>
      </div> -->

      <mat-accordion>
        <mat-expansion-panel *ngFor="let date of dates" (opened)="setDayFilter(date)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{date | date}}
            </mat-panel-title>
          </mat-expansion-panel-header>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let cinema of cinemas" (opened)="setCinemaFilter(cinema)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Cinema: {{cinema}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table table-sm table-striped">

                <tr *ngFor="let sh of shows">
                    <ng-template [ngIf]="show?.id != sh.id" [ngIfElse]="edit">
                        <td>{{sh.timeslot.time}} : {{sh.movie?.title || "(None)"}}</td>
                        <br>
                        <td>
                            <button class="btn btn-sm btn-primary" (click)="selectShow(sh.id); setDate(sh.date)">Edit</button>
                            <!-- <button class="btn btn-sm btn-danger" (click)="deleteShow(sh.id)">Delete</button> -->
                        </td>
                    </ng-template>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
    
</mat-expansion-panel>
</mat-accordion>
<button class="btn btn-primary" (click)="tableMode = false;createShowsForThisMonth();tableMode = true">Create For Month</button>
<button class="btn btn-primary" (click)="tableMode = false;createShowsForNextMonth();tableMode = true">Create For next Month</button>
            <ng-template #edit>
                <td colspan="6">
                    <admin-edit-shows></admin-edit-shows>
                    <div class="text-center">
                        <button class="btn btn-sm btn-primary" (click)="saveShow()">
                            Save
                        </button>
                        <button class="btn btn-sm btn-info" (click)="clearShow()">
                            Cancel
                        </button>
                    </div>
                </td>
            </ng-template>                   

        <!-- <mat-accordion>
        <mat-expansion-panel *ngFor="let cinema of cinemas" (opened)="setCinemaFilter(cinema)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{cinema}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let sh of shows">{{sh.timeslot.time}} : {{sh.cinema?.id }} : {{sh.date | date }}</p>
        </mat-expansion-panel>
      </mat-accordion> -->