
<ul class="nav justify-content-center">
    <li class="nav-item">
        <button class="btn btn-outline-info btn-block"[class.active]="currentGenre == null" (click)="setCurrentGenre(null)">
            All Categories
        </button>
    </li>
    <li class="nav-item" *ngFor="let genre of genres">
        <button class="btn btn-outline-info btn-block" [class.active]="currentGenre == genre"(click)="setCurrentGenre(genre)">
            {{genre}}
        </button>
    </li>
</ul>
<br>

<div class="card-columns">
  <div class="card"  *ngFor="let movie of movies">
    
      <img src="{{movie.poster_url}}" class="card-img-top" alt="{{movie.title}}">
      <div class="card-img-overlay">
          <p class="badge badge-dark">{{movie.age_restriction}}</p>
        </div>
        <div class="card-body" >
          <h5 class="card-title text-truncate">{{movie.title}}  {{movie.id}}</h5>
          <p class="card-text">{{movie.genre}}</p>
          <a class="btn btn-primary" (click)="setMovieForBooking(movie.title)" routerLink="/list_shows">Book Now!</a>
        </div>

    </div>
  </div>
