<app-admin-nav></app-admin-nav>

<h1>manage Cinemas</h1>
<table *ngIf="tableMode; else create" class="table table-sm table-striped">
  <tr>
      <th>ID</th>
      <th>Capacity</th>

      <th></th>
  </tr>
  <tr *ngFor="let c of cinemas">
      <ng-template [ngIf]="cinema?.id != c.id" [ngIfElse]="edit">
          <td>{{c.id}}</td>
          <td>{{c.capacity}}</td>
          <td>
              <button class="btn btn-sm btn-primary" 
                      (click)="selectCinema(c.id)">Edit</button>
              <button class="btn btn-sm btn-danger" 
                      (click)="deleteCinema(c.id)">Delete</button>
          </td>
      </ng-template>
  </tr>
  <tfoot>
      <tr>
          <td colspan="6" class="text-center">
              <button class="btn btn-primary" 
                      (click)="clearCinema(); tableMode = false">Create</button>
          </td>
      </tr>
  </tfoot>
</table>


<ng-template #edit>
  <td colspan="6">
      <admin-edit-cinemas></admin-edit-cinemas>
      <div class="text-center">
          <button class="btn btn-sm btn-primary" (click)="saveCinema()">
              Save
          </button>
          <button class="btn btn-sm btn-info" (click)="clearCinema()">
              Cancel
          </button>
      </div>
  </td>
</ng-template>

<ng-template #create>
  <admin-edit-cinemas></admin-edit-cinemas>
  <button class="btn btn-primary" (click)="saveCinema()">
      Save
  </button>
  <button class="btn btn-info" (click)="clearCinema()">
      Cancel
  </button>
</ng-template>

