<div class="form-group">
    <label>Movie</label>
    <select class="form-control" [(ngModel)]="show.movie" [compareWith]="compareMovies">
        <option *ngFor="let m of movies" [ngValue]="m">{{m.title}}</option>
    </select>
</div>
<div class="form-group">
  <label>TimeSlot</label>
  <select class="form-control" [(ngModel)]="show.timeslot" [compareWith]="compareTimeSlots">
    <option *ngFor="let t of timeslots" [ngValue]="t">{{t.time}}</option>
  </select>
</div>

<!-- <div class="form-group">
  <label>Date</label>
  <select class="form-control" [(ngModel)]="show.date" [compareWith]="compareDates">
    <option *ngFor="let d of dates" [ngValue]="d">{{d | date}}</option>
  </select>
</div>
-->
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="{{ repo.date_moment | date }}" [(ngModel)]="repo.date_moment">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="form-group">
  <label>Cinema</label>
  <select class="form-control" [(ngModel)]="show.cinema" [compareWith]="compareCinemas">
    <option *ngFor="let c of cinemas" [ngValue]="c">{{c.capacity}}</option>
  </select>
</div>
            <!--
             

-->
