<app-admin-nav></app-admin-nav>
<h1>manage movies</h1>

<table *ngIf="tableMode; else create" class="table table-sm table-striped">
    <tr>
        <th>ID</th>
        <th class="postercol">Poster</th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Age Restriction</th>
        <th></th>
    </tr>
        <tr *ngFor="let m of movies">
            <ng-template [ngIf]="movie?.id != m.id" [ngIfElse]="edit">
                <td>{{m.id}}</td>
                <img src="{{m.poster_url}}" alt="{{m.title}} poster" style="width:100%">
                <td>{{m.title}}</td>
                <td>{{m.genre}}</td>
                <td>
                    <div style="height:200px; overflow:hidden">
                        {{m.description}}
                    </div>
                </td>
                <td>{{m.age_restriction}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="selectMovie(m.id)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteMovie(m.id)">Delete</button>
                </td>
            </ng-template>
        </tr>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-primary" (click)="clearMovie(); tableMode = false">Create</button>
            </td>
        </tr>
    </tfoot>
</table>


<ng-template #edit>
    <td colspan="6">
        <admin-edit-movies></admin-edit-movies>
        <div class="text-center">
            <button class="btn btn-sm btn-primary" (click)="saveMovie()">
                Save
            </button>
            <button class="btn btn-sm btn-info" (click)="clearMovie()">
                Cancel
            </button>
        </div>
    </td>
</ng-template>
<ng-template #create>
    <admin-edit-movies></admin-edit-movies>
    <button class="btn btn-primary" (click)="saveMovie()">
        Save
    </button>
    <button class="btn btn-info" (click)="clearMovie()">
        Cancel
    </button>
</ng-template>


