<app-admin-nav></app-admin-nav>

<table class="table m-1">
    <tr>
        <td>There are {{movies?.length || 0}} movies uploaded</td>
        <td><button class="btn btn-sm btn-info btn-block" 
                    routerLink="/admin/movies">Manage Movies</button></td>
    </tr>
    <tr>
        <td>There are {{cinemas?.length || 0}} Cinemas available</td>
        <td><button class="btn btn-sm btn-info btn-block" 
                    routerLink="/admin/cinemas">Manage Cinemas</button></td>
    </tr>
    <tr>
        <td>There are {{timeslots?.length || 0}} Timeslots available</td>
        <td><button class="btn btn-sm btn-info btn-block" 
                    routerLink="/admin/timeslots">Manage Time Slots</button></td>
    </tr>
    <tr>
        <td>There are {{shows?.length || 0}} shows available</td>
        <td><button class="btn btn-sm btn-info btn-block" 
                    routerLink="/admin/shows">Manage Shows</button></td>
    </tr>
    <tr>
        <td>There are {{bookings?.length || 0}} bookings made</td>
        <td><button class="btn btn-sm btn-info btn-block" 
                    routerLink="/admin/bookings">Manage bookings</button></td>
    </tr>
    <tr>
        <td>You Are: {{ userName | async }}</td>
        <!-- <td> -->
            <!-- <button class="btn btn-sm btn-info btn-block"  -->
                    <!-- routerLink="/admin/shows">Manage Shows</button> -->
                <!-- </td> -->
    </tr>

</table>
