<div class="form-group">
    <label>Image URL (Exclude: HTTP://www.)</label>
    <input class="form-control" [(ngModel)]="movie.poster_url" />
</div>
<div class="form-group">
    <label>Movie Name</label>
    <input class="form-control" [(ngModel)]="movie.title" />
</div>
<div class="form-group">
    <label>Category</label>
    <input class="form-control" [(ngModel)]="movie.genre" />
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="movie.description"></textarea>
</div>
<div class="form-group">
    <label>Age Restriction</label>
    <input class="form-control" [(ngModel)]="movie.age_restriction" />
</div>