<div class="form-group">
    <label>Time</label>
    <input class="form-control" [(ngModel)]="timeSlot.time" />
</div>
<div class="form-group">
    <label>Duration</label>
    <input class="form-control" [(ngModel)]="timeSlot.duration" />
</div>

